body {
  margin: 5%;
  font-family: "Gill Sans", "Gill Sans MT";
}

.title {
  color: #16697a;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  width: 20em;
  height: 10em;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  background-color: #ffa62b;
  border: unset;
}

#entryForm .button {
  border-radius: 5px;
  padding: 1em 2em;
  border: unset;
  margin-left: 76%;
}
